<!DOCTYPE html>
<html>

<head>
  <title>シルバーmoodle</title>
</head>
<body>
  <h1>シルバー人材育成動画一覧</h1>
  <p>Google Dos使い方: <a href="https://www.youtube.com/watch?v=8_5I78shSP0">YouTube</a></p>
  <p>Google SpreadSheet使い方: <a href="https://www.youtube.com/watch?v=tbWD-VG35RM">YouTube</a></p>
  <p>Google Slide使い方: <a href="https://www.youtube.com/watch?v=SB2kWVZNKfQ">YouTube</a></p>
  <p>LaTex使い方: <a href="https://www.youtube.com/watch?v=vKRxCpn2KbA">YouTube</a></p>

  <a href="/">back to home page</a>
</body>

</html>
